.app {
  padding: 20px 20px 80px 20px;
  color: white;
  height: 100%;
}

.app h3 {
  font-weight: normal;
  font-size: 24px;
  margin-top: 18px;
  margin-bottom: 18px;
  text-align: center;
}

.app .input, .app .readout, .app button {
  font-family: inherit;
  font-size: 24px;
  vertical-align: middle;
  padding: 13px;
  background-color: #ddd;
  min-height: 65px;
  display: inline-block;
  min-width: 57px;
  border: none;
}

.app button {
  position: relative;
  background-color: transparent;
  overflow: hidden;
  color: inherit;
  font-size: 18px;
  letter-spacing: 7.5px;
  padding: 13px 10px 13px 16px;
  text-transform: uppercase;
}

.hobbs-input {
  display: grid;
  grid-template-rows: 65px auto;
  height: 100%;
  row-gap: 20px;
}

.digits {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 5px;
  row-gap: 5px;
}

.digits button {
  font-size: 36px;
  padding: 12px 10px 14px 16px;
}

.border-svg {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.border-svg path {
  stroke: white;
  opacity: 0.3;
  fill: transparent;
}

button:focus {
  outline: none;
}

button.disabled {
  color: rgba(255,255,255, 0.3);
  background-image: repeating-linear-gradient(
    135deg,
    rgba(255,255,255,0),
    rgba(255,255,255,0) 8px,
    rgba(255,255,255,0.15) 8px,
    rgba(255,255,255,0.15) 16px
  );
}

.highlight .border-svg path {
  stroke: #4A90E2;
  fill: url(#button-highlight-gradient);
  opacity: 1;
}

button:not(:disabled):active .border-svg path,
input:focus+.border-svg path {
  stroke: #fff;
  opacity: 1;
  fill: rgba(255,255,255,0.2);
}

.app footer {
  position: fixed;
  left: -1px;
  right: -1px;
  bottom: -1px;
}

.app footer button {
  width: 150px;
  float: left;
}

.app footer button:last-of-type {
  float: right;
}

.time-now {
  display: grid;
  grid-template-rows: 1fr 77px 147px 1fr;
  row-gap: 20px;
  height: 100%;
}

.time-now .time-manual {
  grid-row-start: 2;
  grid-row-end: 3;
}

.time-now .time-continue {
  grid-row-start: 3;
  grid-row-end: 4;
}

.time-now button {
  letter-spacing: 0;
  padding: 13px;
  text-transform: none;
  font-size: 20px;
}

.time-now strong {
  display: block;
  font-size: 80px;
  line-height: 70px;
  margin-top: 10px;
}

.time-input {
  display: grid;
  max-width: 270px;
  height: 100%;
  margin: 0 auto;
  grid-template-columns: 1fr 10px 1fr;
  grid-template-rows: 1fr 60px 1fr;
  row-gap: 10px;
  column-gap: 6px;
}

.time-input button {
  letter-spacing: 0;
  padding: 13px;
}

.time-component, .time-colon {
  position: relative;
  vertical-align: middle;
  font-size: 48px;
  text-align: center;
}

.time-component {
  padding-top: 3px;
}

.time-colon {
  bottom: 5px;
}

.number-input {
  overflow: hidden;
  position: relative;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: auto;
  width: 100%;
}

.number-input input {
  height: 100%;
  width: calc(100% + 1px);
  font: inherit;
  color: inherit;
  vertical-align: middle;
  font-size: 30px;
  background-color: transparent;
  border: none;
  text-align: right;
  padding: 15px 20px;
  position: relative;
  z-index: 2;
}

.number-input .border-svg path,
.time-component .border-svg path {
  fill: #000;
  opacity: 0.12;
}

.number-input button {
  font-size: 17px;
  padding-left: 15px;
  padding-right: 11px;
  z-index: 2;
  width: 100%;
  margin-left: 1px;
}

.number-input button .border-svg {
  margin-left: -1px;
}

.number-input button:active {
  margin-left: 0;
  width: 100%;
  padding-left: 16px;
  padding-right: 10px;
}

.number-input button:active .border-svg {
  margin-left: 0;
}

.number-input input[type=number]::-webkit-inner-spin-button,
.number-input input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.number-input input:focus {
  outline: none;
}
