.app {
  padding: 10px 20px;
}

.app h3 {
  font-weight: normal;
  font-size: 24px;
}

.app .input, .app .readout, .app button{
  font-family: inherit;
  font-size: 24px;
  vertical-align: middle;
  padding: 13px;
  background-color: #ddd;
  height: 57px;
  display: inline-block;
  min-width: 57px;
  border: none;
}
