.app {
  padding: 20px 20px 0 20px;
  color: white;
  height: 100%;
  max-width: 600px;
  margin: 0 auto;
  position: relative;
  display: grid;
  grid-template-rows: 60px 1fr 80px;
  justify-items: center;
  align-items: center;
}

.app main {
  grid-row: 2;
  max-width: 600px;
  position: relative;
  width: 100%;
  height: 100%;
  max-height: 500px;
}

.app main>* {
  opacity: 1;
  z-index: 2;
  transition: opacity 0.25s ease 0.25s, transform 0.25s ease 0.25s;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  transform: translateY(0px);
}

.app main>.inactive {
  opacity: 0;
  z-index: 1;
  transform: translateY(100px);
  transition: opacity 0.25s ease, transform 0.25s ease;
}


.app h3 {
  font-weight: normal;
  font-size: 20px;
  letter-spacing: 10px;
  padding: 10px 10px 0 16px;
  margin: 0;
  text-align: center;
  text-transform: uppercase;
}

.app .input, .app .readout, .app button {
  font-family: inherit;
  font-size: 24px;
  vertical-align: middle;
  padding: 13px;
  background-color: #ddd;
  min-height: 65px;
  display: inline-block;
  min-width: 57px;
  border: none;
}

.app header {
  position: relative;
}

.app .header-image {
  position: absolute;
  left: 50%;
  top: 30px;
  opacity: 0.1;
}

.app .header-image.motor {
  margin-top: -47px;
  margin-left: -41px;
  transform: scale(1.1);
}

.app .header-image.wheels {
  margin-top: -62px;
  margin-left: -48px;
  transform: scale(1.6);
}

.app button {
  position: relative;
  background-color: transparent;
  overflow: hidden;
  color: inherit;
  font-size: 18px;
  letter-spacing: 7.5px;
  padding: 13px 10px 13px 16px;
  text-transform: uppercase;
}

.hobbs-input {
  display: grid;
  grid-template-rows: 65px auto;
  height: 100%;
  max-height: 500px;
  row-gap: 20px;
}

.digits {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 5px;
  row-gap: 5px;
}

.digits button {
  font-size: 36px;
  padding: 10px 10px 16px 16px;
}

.border-svg {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.border-svg path {
  stroke: white;
  stroke-width: 1px;
  opacity: 0.3;
  fill: transparent;
}

button:focus {
  outline: none;
}

button.disabled {
  color: rgba(255,255,255, 0.3);
  background-image: repeating-linear-gradient(
    135deg,
    rgba(255,255,255,0),
    rgba(255,255,255,0) 8px,
    rgba(255,255,255,0.15) 8px,
    rgba(255,255,255,0.15) 16px
  );
}

button.back.disabled {
  background-image: repeating-linear-gradient(
    45deg,
    rgba(255,255,255,0),
    rgba(255,255,255,0) 8px,
    rgba(255,255,255,0.15) 8px,
    rgba(255,255,255,0.15) 16px
  );

}

.highlight .border-svg path {
  stroke: #4A90E2;
  fill: url(#button-highlight-gradient);
  opacity: 1;
}

button:not(:disabled):active .border-svg path,
input:focus+.border-svg path {
  stroke: #fff;
  opacity: 1;
  fill: rgba(255,255,255,0.2);
}

.app footer {
  position: fixed;
  left: -1px;
  right: -1px;
  bottom: -1px;
  z-index: 5;
}

.app footer button {
  width: 150px;
  float: left;
}

.app footer button:last-of-type {
  float: right;
}

.time-now {
  display: grid;
  grid-template-rows: 1fr 77px 147px 1fr;
  row-gap: 20px;
  height: 100%;
}

.time-now .time-manual {
  grid-row-start: 2;
  grid-row-end: 3;
}

.time-now .time-continue {
  grid-row-start: 3;
  grid-row-end: 4;
}

.time-now button {
  letter-spacing: 0;
  padding: 13px;
  text-transform: none;
  font-size: 20px;
}

.time-now strong {
  display: block;
  font-size: 80px;
  line-height: 70px;
  margin-bottom: 5px;
}

.time-input {
  display: grid;
  max-width: 270px;
  width: 100%;
  height: 100%;
  max-height: 450px;
  margin: 0 auto;
  grid-template-columns: 1fr 10px 1fr;
  grid-template-rows: 1fr 60px 1fr;
  row-gap: 10px;
  column-gap: 6px;
}

.time-input button {
  letter-spacing: 0;
  padding: 13px;
}

.time-component, .time-colon {
  position: relative;
  vertical-align: middle;
  font-size: 48px;
  text-align: center;
}

.time-component {
  line-height: 52px;
}

.time-colon {
  bottom: 8px;
  right: 2.5px;
}

.number-input {
  overflow: hidden;
  position: relative;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: auto;
  width: 100%;
}

.number-input input {
  height: 100%;
  width: calc(100% + 2px);
  font: inherit;
  color: inherit;
  vertical-align: middle;
  font-size: 28px;
  background-color: transparent;
  border: none;
  text-align: right;
  padding: 12px 20px 17px 20px;
  position: relative;
  z-index: 2;
}

.number-input .border-svg path,
.time-component .border-svg path {
  fill: #000;
  opacity: 0.12;
}

.number-input button {
  font-size: 17px;
  padding-left: 15px;
  padding-right: 11px;
  z-index: 2;
  width: 100%;
  margin-left: 1px;
}

.number-input button .border-svg {
  margin-left: -1px;
}

.number-input button:active {
  margin-left: 0;
  width: 100%;
  padding-left: 16px;
  padding-right: 10px;
}

.number-input button:active .border-svg {
  margin-left: 0;
}

.number-input input[type=number]::-webkit-inner-spin-button,
.number-input input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.number-input input:focus {
  outline: none;
}

.report {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 3fr 1fr 3fr 1fr 3fr 1fr 3fr;
  grid-column-gap: 10px;
  height: 100%;
  max-height: 400px;
  width: 100%;
  margin: 0 auto;
}

.report dt {
  padding-top: 3px;
  border-top: 1px solid #aaa;
  color: #aaa;
}

.report dd {
  padding: 0;
  margin: 0;
  font-size: 36px;
  line-height: 30px;
}


.report .conclusion {
  grid-column-start: 1;
  grid-column-end: 3;
}

.report dd.conclusion {
  padding-bottom: 50px;
}

.report dt:nth-of-type(1) { grid-column: 1; grid-row: 1; }
.report dt:nth-of-type(2) { grid-column: 2; grid-row: 1; }
.report dd:nth-of-type(1) { grid-column: 1; grid-row: 2; }
.report dd:nth-of-type(2) { grid-column: 2; grid-row: 2; }

.report dt:nth-of-type(4) { grid-column: 1; grid-row: 5; }
.report dt:nth-of-type(5) { grid-column: 2; grid-row: 5; }
.report dd:nth-of-type(4) { grid-column: 1; grid-row: 6; }
.report dd:nth-of-type(5) { grid-column: 2; grid-row: 6; }





.page-enter {
  opacity: 0.01;
}

.page-enter.page-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.page-leave {
  opacity: 1;
}

.page-leave.page-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}
